<div class="component-inner mcq-inner">
    {{#if title}}
    <div class="component-title mcq-title">
        <h4 class="component-title-inner mcq-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body mcq-body">
        <div class="component-body-inner mcq-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="component-widget mcq-widget {{#unless _isEnabled}} disabled {{#if complete}} complete submitted user {{#if correct}}correct{{/if}} {{/if}} {{/unless}}">
        {{#if _isEnabled}}
            {{#each items}}
            <div class="item item-{{@index}}">
                <label for="{{../_id}}-{{@index}}" class="{{#if selected}}selected{{/if}}">
                    <div class="state">
                        <div class="icon radio"></div>
                    </div>
                    <h5 class="inner">
                        {{{text}}}
                    </h5>
                </label>
                <input type="checkbox" id="{{../_id}}-{{@index}}"/>
            </div>
            {{/each}}
        {{else}}
            {{#if complete}}
                {{#each items}}
                <div class="item disabled {{#if correct}}correct{{else}}incorrect{{/if}} item-{{@index}}">
                    <label for="{{../_id}}-{{@index}}" class="{{#if selected}}selected{{/if}}">
                        <div class="state">
                            <div class="icon radio"></div>
                        </div>
                        <h5 class="inner">
                            {{{text}}}
                        </h5>
                    </label>
                    <input type="checkbox" id="{{../_id}}-{{@index}}"/>
                </div>
                {{/each}}
            {{/if}}
        {{/if}}
        {{#if _isEnabled}}
        <a href="#" class="button submit">
            <h6>
                {{#if button.submit}}    
                    {{{button.submit}}} 
                {{else}}
                    Submit
                {{/if}}
            </h6>
        </a>
        <a href="#" class="button reset">
            <h6>
                {{#if button.reset}}    
                    {{{button.reset}}} 
                {{else}}
                    Reset
                {{/if}}
            </h6>
        </a> 
        {{/if}}
        <a href="#" class="button model">
            <h6>
                {{#if button.model}}    
                    {{{button.model}}} 
                {{else}}
                    Model Answer
                {{/if}}
            </h6>
        </a>

        <a href="#" class="button user">
            <h6>
                {{#if button.user}}    
                    {{{button.user}}} 
                {{else}}
                    My Answer
                {{/if}}
            </h6>
        </a>
    </div>
</div>
