<div class="mcq-inner component-inner">
  {{> component this}}
  <div class="mcq-widget component-widget {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}" role="{{#if _isRadio}}radiogroup{{else}}group{{/if}}">
    {{#each _items}}
    <div class="mcq-item component-item component-item-color {{#unless ../_isEnabled}}{{#if ../_canShowMarking}}{{#if _isCorrect}}correct{{else}}incorrect{{/if}}{{/if}}{{/unless}} item-{{@index}}">
      <input {{#if ../_isRadio}}name="{{../_id}}-item" {{/if}} type="{{#if ../_isRadio}}radio{{else}}checkbox{{/if}}" id="{{../_id}}-{{@index}}-input" {{#unless ../_isEnabled}} disabled{{/unless}} aria-label="{{{a11y_normalize text}}}" data-adapt-index="{{_index}}" />
      <label aria-hidden="true" for="{{../_id}}-{{@index}}-input" class="component-item-text-color component-item-border{{#unless ../_isEnabled}} disabled {{/unless}}{{#if _isSelected}} selected{{/if}}" data-adapt-index="{{_index}}" >
        <div class="mcq-item-state">
          <div class="mcq-item-icon mcq-answer-icon {{#if ../_isRadio}}radio{{else}}checkbox{{/if}} component-item-text-color icon"></div>
          <div class="mcq-item-icon mcq-correct-icon icon icon-tick"></div>
          <div class="mcq-item-icon mcq-incorrect-icon icon icon-cross"></div>
        </div>
        <div class="mcq-item-inner">
          {{{text}}}
        </div>
      </label>
    </div>
    {{/each}}
  </div>
  <div class="buttons">
  </div>
</div>
