<div class="mcq-inner component-inner" role="region" aria-label="{{_accessibility._ariaRegions.mcq}}">
    {{> component this}}
    <div class="mcq-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        {{#each _items}}
        <div class="mcq-item component-item component-item-color {{#unless ../_isEnabled}} {{#if _isCorrect}} correct{{else}} incorrect{{/if}} {{/unless}} item-{{@index}}">
        <input type="checkbox" id="{{../_id}}-{{@index}}"/>
            <label for="{{../_id}}-{{@index}}" class="component-item-text-color component-item-border{{#if _isSelected}} selected{{/if}}">
                <div class="mcq-item-state">
                    <div class="mcq-item-icon mcq-answer-icon component-item-text-color icon"></div>
                    <div class="mcq-item-icon mcq-correct-icon icon icon-tick"></div>
                    <div class="mcq-item-icon mcq-incorrect-icon icon icon-cross"></div>
                </div>
                <h5 class="mcq-item-inner">
                    {{{text}}}
                </h5>
            </label>
        </div>
        {{/each}}
    </div>
    <div class="buttons">
    </div>
</div>
