<div class="mcq-inner component-inner">
    {{#if title}}
    <div class="mcq-title component-title">
        <h4 class="mcq-title-inner component-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="mcq-body component-body">
        <div class="mcq-body-inner component-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="mcq-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        {{#each items}}
        <div class="mcq-item item {{#unless ../_isEnabled}} {{#if _isCorrect}}correct{{else}}incorrect{{/if}} {{/unless}} item-{{@index}}">
            <label for="{{../_id}}-{{@index}}" class="{{#if selected}}selected{{/if}}">
                <div class="mcq-item-state">
                    <div class="mcq-item-icon icon icon-home"></div>
                    <div class="mcq-item-icon mcq-correct-icon icon icon-tick"></div>
                    <div class="mcq-item-icon mcq-incorrect-icon icon icon-cross"></div>
                </div>
                <h5 class="mcq-item-inner">
                    {{{text}}}
                </h5>
            </label>
            <input type="checkbox" id="{{../_id}}-{{@index}}"/>
        </div>
        {{/each}}
        <a href="#" class="button submit">
            <h6>  
                {{{buttons.submit}}} 
            </h6>
        </a>
        <a href="#" class="button reset">
            <h6>
                {{{buttons.reset}}} 
            </h6>
        </a> 
        <a href="#" class="button model">
            <h6> 
                {{{buttons.showCorrectAnswer}}} 
            </h6>
        </a>

        <a href="#" class="button user">
            <h6>
                {{{buttons.hideCorrectAnswer}}} 
            </h6>
        </a>
    </div>
</div>
