<div class="component-inner mcq-inner">
	{{#if title}}
	<div class="component-title mcq-title">
		<h4 class="component-title-inner mcq-title-inner">
			{{{title}}}
		</h4>
	</div>
	{{/if}}
	{{#if body}}
	<div class="component-body mcq-body">
		<div class="component-body-inner mcq-body-inner">
			{{{body}}}
		</div>
	</div>
	{{/if}}
	<div class="component-widget mcq-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">

		{{#each items}}
		<div class="item {{#unless ../_isEnabled}} {{#if _isCorrect}}correct{{else}}incorrect{{/if}} {{/unless}} item-{{@index}}">
			<div class="mcq-item-state">
				<div class="mcq-item-icon mcq-correct-icon icon icon-tick"></div>
				<div class="mcq-item-icon mcq-incorrect-icon icon icon-cross"></div>
			</div>
			<label for="{{../_id}}-{{@index}}" class="{{#if selected}}selected{{/if}}">
				<div class="state">
					<div class="icon radio"></div>
				</div>
				<h5 class="inner">
					{{{text}}}
				</h5>
			</label>
			<input type="checkbox" id="{{../_id}}-{{@index}}"/>
		</div>
		{{/each}}

		<a href="#" class="button submit">
			<h6>
				{{#if button.submit}}    
					{{{button.submit}}} 
				{{else}}
					Submit
				{{/if}}
			</h6>
		</a>
		<a href="#" class="button reset">
			<h6>
				{{#if button.reset}}    
					{{{button.reset}}} 
				{{else}}
					Reset
				{{/if}}
			</h6>
		</a> 
		<a href="#" class="button model">
			<h6>
				{{#if button.model}}    
					{{{button.model}}} 
				{{else}}
					Model Answer
				{{/if}}
			</h6>
		</a>
		<a href="#" class="button user">
			<h6>
				{{#if button.user}}    
					{{{button.user}}} 
				{{else}}
					My Answer
				{{/if}}
			</h6>
		</a>
	</div>
</div>
