<div class="component__inner mcq__inner">

  {{> component this}}

  <div class="component__widget mcq__widget{{#unless _isEnabled}} is-disabled{{#if _isInteractionComplete}} is-complete is-submitted show-user-answer{{#if _isCorrect}} is-correct{{/if}}{{/if}}{{/unless}}" role="{{#if _isRadio}}radiogroup{{else}}group{{/if}}">

    {{#each _items}}
    <div class="mcq__item js-mcq-item item-{{@index}}{{#unless ../_isEnabled}}{{#if ../_canShowMarking}}{{#if _isCorrect}} is-correct{{else}} is-incorrect{{/if}}{{/if}}{{/unless}}">

      <input class="mcq__item-input js-item-input" id="{{../_id}}-{{@index}}-input" {{#if ../_isRadio}}name="{{../_id}}-item" {{/if}} type="{{#if ../_isRadio}}radio{{else}}checkbox{{/if}}"{{#unless ../_isEnabled}} disabled{{/unless}} aria-label="{{{a11y_normalize text}}}" data-adapt-index="{{_index}}" />

      <label class="mcq__item-label js-item-label{{#unless ../_isEnabled}} is-disabled{{/unless}}{{#if _isSelected}} is-selected{{/if}}" aria-hidden="true" for="{{../_id}}-{{@index}}-input" data-adapt-index="{{_index}}" >

        <div class="mcq__item-state">
          <div class="mcq__item-icon mcq__item-answer-icon{{#if ../_isRadio}} is-radio{{else}} is-checkbox{{/if}}">
            <div class="icon"></div>
          </div>
          <div class="mcq__item-icon mcq__item-correct-icon">
            <div class="icon"></div>
          </div>
          <div class="mcq__item-icon mcq__item-incorrect-icon">
            <div class="icon"></div>
          </div>
        </div>

        <div class="mcq__item-text">
          <div class="mcq__item-text-inner">
            {{{text}}}
          </div>
        </div>

      </label>

    </div>
    {{/each}}

  </div>

  <div class="btn__container"></div>

</div>
